
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <meta name="description" content="BMG">
    <meta name="keywords" content="BMG Netting">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/modernizr.js"></script>
    <meta class="foundation-data-attribute-namespace">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-topbar">

    <link rel="stylesheet" href="css/respond.css">
    <link rel="stylesheet" href="css/angular-flash.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
          <script src="js/angular-flash.js" charset="utf-8"></script>
        
    
</head>
<body  >
    
   
        <!-- Featured Section -->
        <div class="row contentdiv">
        <div class="small-12 columns">
            <br/><h3><center>Change Password</center></h3><br/>
        </div>
        <div class="small-12 columns">
               <form  
name="myForm" ng-app="myApp" ng-controller="passcontroller" ng-modal="myForm" novalidate>
 <flash-message name="flash-fixed"></flash-message>

<table align="center" width="50%">
<tr>
<th>Old Password:</th>
<td><input type="password" name="oldpwd" placeholder="enter old password" ng-model="oldpwd" required></td>
<td><span style="color:red" ng-show="myForm.oldpwd.$dirty && myForm.oldpwd.$invalid">
<span ng-show="myForm.oldpwd.$error.required">Password is required.</span>
</span></td>
</tr>

<tr>
<th>New Password:</th>
<td><input type="password" name="newpwd" placeholder="enter password" ng-model="newpwd" required>
<span style="color:red" ng-show="myForm.newpwd.$dirty && myForm.newpwd.$invalid">
<span ng-show="myForm.newpwd.$error.required">Password is required.</span>
</span></td>
</tr>
<tr>
<th>Confirm New Password:</th>
<td><input type="password" name="confpwd" placeholder="confirm password" ng-model="confpwd" ng-change="validate(myForm)" required>
<span style="color:red" ng-show="myForm.confpwd.$dirty && myForm.confpwd.$invalid">
<span ng-show="myForm.confpwd.$error.required">Password is required.</span>
<span ng-show="myForm.confpwd.$error.passwordVerify">Confirm password and new password do not match.</span>
</span></td>
</tr>

<tr>
<div class="container">
<td colspan="2" style="text-align:center" align="center"><input type="submit" value="Change Password"
ng-disabled="myForm.oldpwd.$dirty && myForm.oldpwd.$invalid ||  
myForm.newpwd.$dirty && myForm.newpwd.$invalid ||  
myForm.confpwd.$dirty && myForm.confpwd.$invalid" ng-click="pwdCheck()">
</td>

</tr>


</table>
</form>
            </div>
        </div>
       
        
        <script src="js/jquery-1.8.3.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
var app = angular.module('myApp', []);
app.controller('passwordcontroller', function($scope,$http) {
   
});
</script>
</body>
</html>
