<!DOCTYPE html>
<html>
  <head>
    <title>Add Expense</title>
  </head>
  <body>
          <!-- Featured Section -->
          <div class="row contentdiv">
          <div class="small-12 columns">
              <h3><center>Add Expense</center></h3>
          </div>
          <div class="small-12 columns">
  <form ng-app="myApp" ng-controller="expcontroller" method="post" name="myForm" novalidate>
  <flash-message name="flash-fixed"></flash-message>
  <table align="center" width="75%">
  <tr>
  <th><b>Fiscal Year:</b></th>
  <td><select id="list" ng-model="FYear"  placeholder="enter Fiscal year" ng-change="selectFun()" name="year">
      <option value="" disabled selected>Select Fiscal year</option>
      <option ng-repeat="year in years" value={{year.financial_year}}>{{year.financial_year}}</option>
    </select>

  </td>



  <td><span style="color:red" ng-show="myForm.FYear.$dirty && myForm.FYear.$invalid">
  <span ng-show="myForm.FYear.$error.required">Fiscal year is required.</span>
  </span>
  </td>
  </tr>
  <tr>
  <th><b>Category:</b></th>


  <td>

  <select ng-model="category" name="category">
  <option ng-repeat="x in names" value={{x.category_id}}>{{x.category_name}}</option>
  </select>

  </td></tr>
  <tr>

  <th>
  <b>Vendor Name:</b>
  </th>
  <td>
  <input type="text" name="vendor" placeholder="enter vendor name" ng-model="vendor" required>
  </td>
  <td><span style="color:red" ng-show="myForm.vendor.$dirty && myForm.vendor.$invalid">
  <span ng-show="myForm.vendor.$error.required">Vendor is required.</span>
  </span>
  </td>
  </tr>
  <tr><th><b>Date:</b></th>
  <td><input type="date" min={{min}} max={{max}} placeholder="enter the date" ng-model="date" name="date" required></td>
  <td><span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
  <span ng-show="myForm.date.$error.required">Date is required.</span>
  </span></td>
  </tr>


  <tr><th><b>Description:</b></th>
  <td><textarea rows="3" width="7" name="desc" placeholder="Description of purchases" ng-model="desc"></textarea></td></tr>

  <tr>
  <th><b>Amount:</b></th>
  <td><input type="number" name="amount" ng-model="amount" placeholder="Amount in RS" required></td>
  <td><span style="color:red" ng-show="myForm.date.$dirty &&myForm.amount.$invalid">
  <span ng-show="myForm.amount.$error.required">Amount is required.</span>
  </span>
  </td>
  <tr><td colspan="2" style="text-align:center" align="center">
  <input type="checkbox" ng-model="fin">Routed through procurement system</input>
  </td></tr>
  <tr><td colspan="2" style="text-align:center" align="center">
  <input type="checkbox" ng-model="fins">Invoice submitted to finance department</input>
  </td></tr>
  <tr><td colspan="2" style="text-align:center" align="center">
  <input type="submit" value="Add" ng-click="addexp()"
  ng-disabled="myForm.$invalid||myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
  </td></tr></table>
  </form>
  <!-- <p ng-bind="date"></p> -->


              </div>
          </div>
  </body>
</html>
