<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
  </head>
<body>


        <!-- Featured Section -->
        <div class="row contentdiv">
        <div class="small-12 columns">
            <br/><h3><center>Change Password</center></h3><br/>
        </div>
        <div class="small-12 columns">
               <form
name="myForm" ng-app="myApp" ng-controller="passcontroller" ng-modal="myForm" novalidate>
 <flash-message name="flash-fixed"></flash-message>

<table align="center" width="50%">
<tr>
<th>Old Password:</th>
<td><input type="password" name="oldpwd" placeholder="enter old password" ng-model="oldpwd" required></td>
<td><span style="color:red" ng-show="myForm.oldpwd.$dirty && myForm.oldpwd.$invalid">
<span ng-show="myForm.oldpwd.$error.required">Password is required.</span>
</span></td>
</tr>

<tr>
<th>New Password:</th>
<td><input type="password" name="newpwd" placeholder="enter password" ng-model="newpwd" required>
<span style="color:red" ng-show="myForm.newpwd.$dirty && myForm.newpwd.$invalid">
<span ng-show="myForm.newpwd.$error.required">Password is required.</span>
</span></td>
</tr>
<tr>
<th>Confirm New Password:</th>
<td><input type="password" name="confpwd" placeholder="confirm password" ng-model="confpwd" ng-change="validate(myForm)" required>
<span style="color:red" ng-show="myForm.confpwd.$dirty && myForm.confpwd.$invalid">
<span ng-show="myForm.confpwd.$error.required">Password is required.</span>
<span ng-show="myForm.confpwd.$error.passwordVerify">Confirm password and new password do not match.</span>
</span></td>
</tr>

<tr>
<div class="container">
<td colspan="2" style="text-align:center" align="center"><input type="submit" value="Change Password"
ng-disabled="myForm.oldpwd.$dirty && myForm.oldpwd.$invalid ||
myForm.newpwd.$dirty && myForm.newpwd.$invalid ||
myForm.confpwd.$dirty && myForm.confpwd.$invalid" ng-click="pwdCheck()">
</td>

</tr>


</table>
</form>
            </div>
        </div>
</body>
</html>
