<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMG Netting Tool</title>
    <meta name="description" content="BMG">
    <meta name="keywords" content="BMG Netting">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/modernizr.js"></script>
    <meta class="foundation-data-attribute-namespace">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-topbar">

    <link rel="stylesheet" href="css/respond.css">
    
</head>
<body>
    
    
        <!-- Featured Section -->
        <div class="row contentdiv">
        <div class="small-12 columns">
            <br/><h3><center>Add User</center></h3><br/>
        </div>
        <div class="small-12 columns">
<form ng-app="myApp" action="/newuser" ng-controller="usercontroller" method="post" 
name="myForm" novalidate>
<table align="center" width="50%">
<tr>


<th>Username:</th>
<td><input type="email" name="email" placeholder="ex:abc.xyz@ca.com" ng-model="email" required></td>
<td><span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Email is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</span>
</td>
</tr>
<tr>
<th>Password:</th>
<td><input type="password" name="user" ng-model="user" placeholder="enter password" required></td>
<td><span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">Password is required.</span>
</span>
</td>
</tr>
<tr>
<th>
User Type:</th>
<td><input type="radio" name="userrole" ng-model="myVar" style="text-align:center" align="center" value="1">Admin</td>
<td><input type="radio" name="userrole" ng-model="myVar" style="text-align:center" align="center" value="2">User</td>
</tr>

<tr>
<td colspan="3" style="text-align:center" align="center">
<input type="submit" value="ADD"
ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">
</td></tr></table>


</form>




            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
        
        <script src="js/jquery-1.8.3.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
var app = angular.module('myApp', []);
app.controller('usercontroller', function($scope) {
   
});
</script>
</body>
</html>
