<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA Expense Tracking System</title>
    <meta name="description" content="BMG">
    <meta name="keywords" content="BMG Netting">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/modernizr.js"></script>
    <meta class="foundation-data-attribute-namespace">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-topbar">
    
  
        <script src="js/angular.min.js"></script>

    <link rel="stylesheet" href="css/respond.css">
    <link rel="stylesheet" href="css/angular-flash.css">
     <script src="js/jquery-1.8.3.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/angular-flash.js" charset="utf-8"></script>
</head>
<body>
    
    
        <!-- Featured Section -->
        <div class="row contentdiv">
        <div class="small-12 columns">
            <br/><h3><center>Expenses</center></h3><br/>
        </div>
        <div class="small-12 columns">
<!-- <form ng-controller="exptblcontroller" method="post" 
name="myForm" novalidate> -->
<form method="post" 
name="myForm" novalidate>
<flash-message name="flash-fixed"></flash-message>

<table align="center" width="75%">
<tr>
<th><b>From Date:</b></th>
	<td>
	<input type="date" name='date1' ng-model="date1" placeholder="dd/mm/yyyy" required>
    </td>
    <td>
    <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
    	<span ng-show="myForm.date.$error.required">Date is required.</span>
    </span>
    </td>
    <th><b>To Date:</b></th>
    <td>
    <input type="date" name='date2' ng-model="date2" placeholder="dd/mm/yyyy" required>
    </td>
    <td>
    <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
    	<span ng-show="myForm.date.$invalid && myForm.date.$error.required">Date is required.</span>
     </span>
     </td>
     </tr>
     <tr>
     <th>Category Name:</th>
     <td colspan='2'>	<select ng-model="category" name="category">
     		<option>Select Category</option>
  			<option ng-repeat="x in names" value={{x.category_name}}>{{x.category_name}}</option>
  		</select>
  	</td>
     <td colspan='3'><center><input type="submit" value="Get Expenses" ng-click="getExpByDate()" ng-disabled="myForm.$invalid||myForm.date1.$dirty && myForm.date1.$invalid ||  
myForm.date2.$dirty && myForm.date2.$invalid"></center></td>
</tr>
<tr>
	<th>Date</th>
	<th>Category Name</th>
	<th>Vendor Name</th>
	<th>Description</th>
	<th>Amount</th>
</tr>
<tr ng-repeat="expense in expenses">

	<td>{{expense.date | date:"MM/dd/yyyy"}}</td>
	<td>{{expense.category_name}}</td>
	<td>{{expense.vendor_name}}</td>
	<td>{{expense.description}}</td>
	<td>{{expense.amount}}</td>
	<td><button ng-click="deleteExp(expense)">Delete</button></td>
</tr>
</table>


</form>

            </div>
        </div>
        
        
       
        <script>
            $(document).foundation();
        </script>
        <script>
var app = angular.module('myApp', []);
    app.controller('exptblcontroller', function($scope,$http) {
        $scope.msg = "testing";
    });
</script>
</body>
</html>
