<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <meta name="description" content="BMG">
    <meta name="keywords" content="BMG Netting">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/modernizr.js"></script>
    <meta class="foundation-data-attribute-namespace">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-topbar">

    <link rel="stylesheet" href="css/respond.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    
</head>
<body ng-app="myApp" ng-controller="logincontroller">
    
    <div class="header">
        <div class="row">
            <nav class="top-bar foundation-bar" data-topbar>

                <ul class="title-area">
                    <li class="name">
                        <span>
                            <h1><b><a href="/login"><img src="images/CA_White_transparent_logo.png" width="50" height="50" /> &nbsp;&nbsp;&nbsp;&nbsp;EXPENSE TRACKER</a></b></h1>
                        </span>
                    </li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right">
                        <li class="active"><a href="/login"><i class="fa fa-home fa-lg"></i></a></li>
                        
                        
                    </ul>
                </section>
            </nav>
        </div>
    </div>
        <!-- Featured Section -->
        <div class="row contentdiv">
        <div class="small-12 columns">
            <br/><h3><center>Login Form</center></h3><br/>
        </div>
        <div class="small-12 columns">
               <form name="myForm" method="post" action="/authenticate" novalidate>

<table align="center" width="50%">
<tr>
<th>Username:</th>
<td><input type="email" name="email" placeholder="enter username" ng-model="email" required></td>
<td><span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Email is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</span></td>
</tr>

<tr>
<th>Password:</th>
<td><input type="password" name="user" placeholder="enter password" ng-model="user" required>
<span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">Password is required.</span>
</span></td>
</tr>

<tr>
<td colspan="2" style="text-align:center" align="center"><input type="submit" value="LOGIN"
ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid">
</td>
</tr>

<tr><td colspan="2" style="text-align:center" align="center"><a href="Forgot.html">Forgot Password?</a></td>
</tr>
</table>
</form>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            <p class="pad1">&copy; 2015 BMG Netting Tool. All rights reserved.</p>
                        </div>
                        <div class="small-12 medium-6 columns">
                            <ul class="inline-list right pad1">
                                <li><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
                                <li><a href="https://www.facebook.com/CATechnologies"><i class="fa fa-facebook fa-2x"></i></a></li>
                                <li><a href="http://twitter.com/CAInc"><i class="fa fa-twitter fa-2x"></i></a></li>
                                <li><a href="https://plus.google.com/+CATechnologies"><i class="fa fa-google-plus fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest fa-2x"></i></a></li>
                            </ul>
                        </div>
                        <div class="small-12 columns">
                            <p class="text-right">&nbsp;x</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="js/jquery-1.8.3.js"></script>
        <script src="js/foundation.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
var app = angular.module('myApp', []);
app.controller('logincontroller', function($scope) {
   
});
</script>
</body>
</html>
