<!DOCTYPE html>
<html>
  <head>
    <title>Report Page</title>
  </head>
  <body>
    <!-- Featured Section -->
    <div class="row contentdiv">
      <div class="small-12 columns">
        <h4><center>Welcome to Reports page</center></h4>
        <form ng-app="myApp" method="post" ng-controller="reportcontroller" name="myForm" novalidate>
          <table align="center" width="100%">
            <tr>
              <th colspan="2"><b>Fiscal Year:</b></th>
              <td>
                <select name="year" ng-model="year">
                  <option ng-repeat="year in years" value={{year.financial_year}}>{{year.financial_year}}</option>
                </select>
              </td>
              <!-- <th><b>From Date:</b></th>
              <td>
                <input type="date" name="date1" ng-model="date1" placeholder="dd/mm/yyyy" required>
              </td>
              <td>
                <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
                  <span ng-show="myForm.date.$error.required">Date is required.</span>
                </span>
              </td>
              <th><b>To Date:</b></th>
              <td>
                <input type="date" name="date2" ng-model="date2" placeholder="dd/mm/yyyy" required>
              </td> -->
              <td>
                <span style="color:red" ng-show="myForm.date.$dirty && myForm.date.$invalid">
                  <span ng-show="myForm.date.$invalid && myForm.date.$error.required">Date is required.</span>
                </span>
              </td>
              <td colspan="3" style="text-align:center" align="center">
                <input type="submit" ng-click="addreport()"
                        ng-disabled ="myForm.$invalid||myForm.user.$dirty &&
                                      myForm.user.$invalid || myForm.email.$dirty &&
                                      myForm.email.$invalid">
              </td>
            </tr>
          </table>
          <table id="report" align="center" width="10%" border="1" style="float: left;" ng-init="tot={}">
            <tr>
              <th>Budget allocated for</th>
              <th colspan="2">Q1</th>
              <th colspan="2">Q2</th>
              <th colspan="2">Q3</th>
              <th colspan="2">Q4</th>
              <th colspan="2">{{year}}</th>
            </tr>
            <tr>
              <th>Category_Name</th>
              <th>Forecast</th>
              <th>Actual</th>
              <th>Forecast</th>
              <th>Actual</th>
              <th>Forecast</th>
              <th>Actual</th>
              <th>Forecast</th>
              <th>Actual</th>
              <th>Forecast</th>
              <th>Actual</th>
              <th>Variance</th>
            </tr>
            <tr ng-repeat ="x in cname track by $index">
              <td>{{x.category_name}}</td>
              <td>{{x.q1_ini_bud}}</td>
              <td>{{x.q1_act_bud}}</td>
              <td>{{x.q2_ini_bud}}</td>
              <td>{{x.q2_act_bud}}</td>
              <td>{{x.q3_ini_bud}}</td>
              <td>{{x.q3_act_bud}}</td>
              <td>{{x.q4_ini_bud}}</td>
              <td>{{x.q4_act_bud}}</td>
              <td>
                {{x.initial_budget}}
              </td>
              <td ng-init="quar_act_bud = x.q1_act_bud + x.q2_act_bud + x.q3_act_bud + x.q4_act_bud">
                {{quar_act_bud}}
              </td>
              <td ng-init="variance = x.initial_budget - quar_act_bud">
                {{variance}}
              </td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{tot.q1_ini_bud}}</td>
              <td>{{tot.q1_act_bud}}</td>
              <td>{{tot.q2_ini_bud}}</td>
              <td>{{tot.q2_act_bud}}</td>
              <td>{{tot.q3_ini_bud}}</td>
              <td>{{tot.q3_act_bud}}</td>
              <td>{{tot.q4_ini_bud}}</td>
              <td>{{tot.q4_act_bud}}</td>
              <td>{{tot.initial_budget}}</td>
              <td>{{tot.fy_act_bud}}</td>
              <td>{{tot.variance}}</td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
